html {
    font-family: courier;
	overflow: hidden;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding-top: 3em;
}

#search-bar {
	border-bottom: 1px solid gray;
	padding-bottom: 1em;
	margin-bottom: 1em;
	position: relative;
}

#search {
	font-size: 1.1em;
	display: block;
	width: 100%;
	border: 0;
	padding-right: 65px;
	outline: none;
}

#search-button {
	position: absolute;
	right: 0;
	background: gray;
	border: 1px solid gray;
	width: 60px;
	height: 28px;
	padding-top: 4px;
	box-sizing: border-box;
	background-color: #eaeaea;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;	
}

#search-button:hover {
	background-color: #e0dede;
}

#search-results {
	display: none;
}

#no-search-results {
	font-weight: bold;
}

#site-title {
	text-align: center;
	font-size: 36px;
	display: block;
	color: black;
	text-decoration: none;
}

#site-title:hover {
	text-decoration: underline;
}


#frame-wrapper {
	position: relative;
	height: 400px;
}

#frame-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: white;
	text-align: center;
	padding-top: 100px;
	line-height: 300%;
}

#frames {
	position: absolute;
	z-index: -1;
	width: 100%;
}

.frame {
    width: 125%;
	height: 500px;
    border: 0;
	-ms-zoom: 0.8;
	-moz-transform: scale(0.8);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.8);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.8);
	-webkit-transform-origin: 0 0;
}

.hidden-frame {
	display: none;
}

#result-prev {
	float: left;
}

#result-next {
	float: right;
}

#result-number {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	color: white;
	background-color: black;
	font-size: 1.5em;
	padding: 2px;
}

.arrow {
	cursor: pointer;
	font-size: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.arrow:hover {
	color: white;
	background-color: black;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;	
}
